<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/Blog" prefix="og: http://ogp.me/ns#">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta itemprop="description" name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    <meta name="Robots" content="INDEX,FOLLOW" />
    <meta name="author" content="{{ company }}" />
    <meta name="Revisit-after" content="31 Days" />
    <meta name="application-name" content="{{ company }}">
    <meta property="og:title" content="{{title}} | {{company}}" />
    <meta property="og:type" content="blog" />
    <meta property="og:description" content="{{description}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{company}}" />
    <meta name="twitter:description" content="{{description}}" />
    <link href="/css/site.css" rel="stylesheet">
    <link rel='manifest' href='/manifest.json'>
    <link rel="alternate" type="application/rss+xml" title="My Test Feed" href="{{url}}/rss.xml" />
    <link type="text/plain" rel="author" href="{{url}}/humans.txt" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Do Code That Matters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {{> nav}}
                </ul>
            </div>
        </div>
    </nav>