<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/Blog" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="text/html; charset=UTF-8" />
    <meta itemprop="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    <meta name="Robots" content="INDEX,FOLLOW" />
    <meta name="author" content="{{ company }}" />
    <meta name="Revisit-after" content="31 Days" />
    <meta name="application-name" content="{{ company }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}} - {{company}}" />
    <meta property="og:title" content="{{title}} - {{company}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:site_name" content="{{company}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:creator" content="{{twitter}}" />
    <meta property="og:image" content="{{image}}" />
    <link href="/site.css" rel="stylesheet">
    <link rel='manifest' href='/manifest.json'>
    <link type="application/rss+xml" rel="alternate" title="{{company}} - {{author}}" href="{{url}}/rss.xml" />
    <link type="text/plain" rel="author" href="{{url}}/humans.txt" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />

<body class="dark">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar dark border-bottom">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center logo">
                <img src="images/logoWhiteTrans.png" alt="{{company}} logo" width="60" height="19"
                    style="margin-right: 2%;" />{{company}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {{> nav}}
                </ul>
            </div>
        </div>
    </nav>