{{> header}}
<main class="container article">
  <div class="row">
    <article class="col-lg-12" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <meta itemprop="mainEntityOfPage" content="{{url}}/{{blogPath file}}">
        <h1 itemprop="name headline">{{title}}</h1>
        <small>
          <time itemprop="datePublished" datetime={{schemaDate date}}>{{formatDate date}}</time>{{#if (schemaDate modified)}}<meta itemprop="dateModified" datetime={{schemaDate modified}} />{{/if}} by
          <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <a rel="author" itemprop="url" href="{{url}}/about" title="View author biography"><span itemprop="name">{{author}}</span></a>
            <meta itemprop="jobTitle" content="Software Engineer">
          </span>
          <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="{{company}}">
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
              <meta itemprop="url" content="{{url}}/images/agile.jpg">
            </span>
          </span>
        </small>
        <br />
        <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <img itemprop="url contentUrl" alt="{{alt}}" src="{{image}}">
          <figcaption itemprop="caption">{{alt}}</figcaption>
        </figure>
        <br />
      </header>
      <section itemprop="articleBody" class="article-body">
        {{{ contents }}}
      </section>
    </article>
  </div>


 See something inaccurate or need more detail? <a
        href="https://github.com/skittleson/DoCodeThatMatters/issues/new?title=Post%20-%20{{urlEncode title}}">Submit a Pull
        Request</a> to help me out!
      <br />
      <a href="https://www.buymeacoffee.com/skittles">Buy me a ☕ to support!</a>
<hr />

<h3>Latest Posts</h3>
  <ul class="unstyledUl">
    {{#each this.posts}}
    <li>
      <a class="read-more" href="{{blogPath this.file}}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>

      
</main>

{{>footer}}