{{> header}}
<main class="postMain">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <meta itemprop="mainEntityOfPage" content="{{blogPath file}}">
      <h1 itemprop="name headline">{{title}}</h1>
      <small>
        <time itemprop="datePublished" content={{schemaDate date}}>{{formatDate date}}</time>
        <meta itemprop="dateModified" content={{schemaDate date}}>
        by
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <a rel="author" itemprop="url" href="{{url}}/about" title="View author biography">
            <span itemprop="name">Spencer Kittleson</span>
          </a>
          <meta itemprop="jobTitle" content="Software Engineer">
        </span>
      </small>
      <br />
      <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img itemprop="url contentUrl" alt="{{imageAlt}}" src="{{image}}">
        <figcaption itemprop="caption">{{imageAlt}}</figcaption>
      </figure>
      <br />
    </header>
    <section itemprop="articleBody">
      {{{ contents }}}
    </section>
    <span itemprop="publisher" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="Spencer Kittleson">
    </span>
  </article>
</main>
<aside class="postAside">
  <b>Resources</b>
  <br />
  {{> contactInfo }}
  <b>Latest Posts</b>
  <ul class="unstyledUl">
    {{#each articles}}
    <li>
      <a href="{{this.path}}" title="{{this.description}}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>
  <br />
  <b>Other</b><br />
  See something inaccurate or need more detail? Submit a <a href="https://github.com/skittleson/DoCodeThatMatters">Pull
    Request</a> to help me out!
</aside>

{{>footer}}