{{> header}}
<main class="postMain">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <meta itemprop="mainEntityOfPage" content="{{url}}/{{blogPath file}}">
      <h1 itemprop="name headline">{{title}}</h1>
      <small>
        <time itemprop="datePublished" content={{schemaDate date}}>{{formatDate date}}</time>
        <meta itemprop="dateModified" content={{schemaDate date}}>
        by
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <a rel="author" itemprop="url" href="{{url}}/about" title="View author biography">
            <span itemprop="name">Spencer Kittleson</span>
          </a>
          <meta itemprop="jobTitle" content="Software Engineer">
        </span>
        <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <meta itemprop="name" content="Do Code That Matters">
          <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{url}}/images/agile.jpg">
          </span>
        </span>
      </small>
      <br />
      <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img itemprop="url contentUrl" alt="{{imageAlt}}" src="{{image}}">
        <figcaption itemprop="caption">{{imageAlt}}</figcaption>
      </figure>
      <br />
    </header>
    <section itemprop="articleBody" class="article-body">
      {{{ contents }}}
    </section>
  </article>
</main>
<aside class="postAside">
  <b>Resources</b>
  <br />
  <div class="kindleWidget"
    style="display:inline-block;padding:3px;cursor:pointer;font-size:18px;font-family:Arial;white-space:nowrap;line-height:1;border-radius:3px;border:#ccc thin solid;color:black;background:transparent url('https://d1xnn692s7u6t6.cloudfront.net/button-gradient.png') repeat-x;background-size:contain;">
    <img style="vertical-align:middle;margin:0;padding:0;border:none;"
      src="https://d1xnn692s7u6t6.cloudfront.net/black-25.png" /><span
      style="vertical-align:middle;margin-left:3px;">Send to Kindle</span></div>
  <br /><br />
  {{> contactInfo }}
  <br />
  <b>Latest Posts</b>
  <ul class="unstyledUl">
    {{#each this.posts}}
    <li>
      <a class="read-more" href="{{blogPath this.file}}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>
  <br />
  <b>Other</b><br />
  See something inaccurate or need more detail? Submit a <a href="https://github.com/skittleson/DoCodeThatMatters">Pull
    Request</a> to help me out!
</aside>

{{>footer}}