{{> header}}
<main class="container">
    <div class="page">
        <br />
        {{#each posts}}
        <div class="container-flex">
            <div>
                <a href="{{blogPath this.file}}"><img src='{{this.image}}' style='max-width:20em;'
                        alt="{{this.description}}" /></a>
            </div>
            <div class="blog-item">
                <span title='{{this.date}}'>{{formatDate this.date}}</span>
                <h2>
                    <a class="text-primary" href="{{blogPath this.file}}">{{this.title}}</a>
                </h2>
                <p></p>
                {{this.description}} <br /> <a class="read-more" href="{{blogPath this.file}}">Read More</a>
                </p>
            </div>
        </div>
        <hr />
        {{/each}}
    </div>

</main>
{{>footer}}