---
layout: index.hbs
title: Blog
description: Collection of blog posts
---
<div class="page">
    <br/>
    {{#each articles}}
    <div class="container-flex">
        <div>
            <a href="{{this.path}}"><img src='{{this.image}}' style='max-width:20em;' alt="{{this.desc}}" /></a>
        </div>
        <div class="blog-item">
            <p>
                <span title='{{this.date}}'>{{formatDate this.date}}</span> <br /><b>{{this.title}}</b>
                <br />
                {{this.desc}} <br /> <a class="read-more" href="{{this.path}}">Read More</a>
            </p>
        </div>
    </div>
    <hr />
    {{/each}}
</div>