<div class="page">

    <div class="container-flex">
        <div>
            <h1>What's New?</h1>
            {{#each posts}}
            <p>
                <span title='{{this.date}}'>{{formatDate this.date}}</span> <br /><b>{{this.title}}</b>
                <br />
                {{this.description}} <br /> <a class="read-more" href="{{blogPath this.file}}">Read More</a>
            </p>
            {{/each}}

        </div>
        <div>
            <br /><br />
            <img style="min-width:300px" src="images/agile.jpg" />
            <br />
            {{> contactInfo}}
        </div>
    </div>

</div>