{{> header}}
<main class="container" itemscope="" itemtype="https://schema.org/WebPage">
    <h1 itemprop="name" style="display: none;">{{company}} - Home Page</h1>
    <div class="row">
        <div class="col-lg-8" itemscope itemtype="http://schema.org/BreadcrumbList">
            {{#each posts}}
            <h2 itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{blogPath this.file}}"><span
                        itemprop="name">{{this.title}}</span></a>
                <meta itemprop="position" content="{{@index}}" />
            </h2>
            <p>
                {{this.description}}
            </p>
            {{/each}}

        </div>
        <div class="col-lg-4">
            <img src="../images/agile.jpg" width="350" height="246" alt="Agile development" />
            <br />
            {{> contactInfo}}
        </div>
    </div>
</main>
{{>footer}}