<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{company}}</title>
        <link>{{url}}</link>
        <language>en-us</language>
        <description>Personal blog about software development, 3d printing, diy, python, personal automations, and c#</description>
        <copyright>Copyright {{year}} {{author}}</copyright>
        <ttl>30</ttl>
        <atom:link href="{{url}}/rss.xml" type="application/rss+xml"></atom:link>
        {{#each posts}}
        <item>
            <title>{{this.title}}</title>
            <description>{{this.description}}</description>
            <link>{{../url}}/{{blogPath file}}</link>
            <guid>{{../url}}/{{blogPath file}}</guid>
            <pubDate>{{rfc822 date}}</pubDate>
            <enclosure url="{{../url}}/{{blogPath file}}/index.txt" type="text/plain" />
            <enclosure url="{{../url}}/{{blogPath file}}/index.mp3" type="audio/mp3" />
        </item>
        {{/each}}
    </channel>
</rss>