<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{company}}</title>
        <link>{{url}}</link>
        <language>en-us</language>
        <description>Personal blog about software development, 3d printing, diy, and c#</description>
        <copyright>Copyright {{year}} {{author}}</copyright>
        <ttl>30</ttl>
        <atom:link href="{{url}}/rss.xml" rel="self" type="application/rss+xml" />
        {{#each posts}}
        <item>
            <title>{{this.title}}</title>
            <description>{{this.description}}</description>
            <link>{{../url}}/{{blogPath file}}</link>
            <guid>{{../url}}/{{blogPath file}}</guid>
            <pubDate>{{date}}</pubDate>
        </item>
        {{/each}}
    </channel>
</rss>